//**
// *  styles.scss
// *    - Global styles definition
// *    - Styles written here will only apply globally
// *  
// ****************************************************************************/

body {
  font-family: Sans-Serif;
}

h1 {
  font-size: 18pt;
  font-weight: 200;
}